body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: $mainFontColor;
  background-color: $mainBcg;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
    margin-top: 0;
}

.wrapper {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}