.footer {
  padding-top: 80px;
  padding-bottom: 48px;
  background-color: $heroBcg;
  &-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 53px;
  }
  &-about {
    display: flex;
    flex-direction: column;
  }
  &-subtitle {
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: "Graphik", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    color: $hightlightFontColor;
  }
  &-descr {
    margin: 32px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.56;
    max-width: 371px;
  }
  &-button {
    padding: 23px 24px;
    background-color: $buttonColor;
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.65;
    color: $mainBcg;
    border: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 382px;
    transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      background-color: #1e4f9e;
    }
  }
}

.footer-list {
  @extend %list;
  flex-direction: column;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  gap: 12px;
  margin-top: 32px;
}

.news-list {
  @extend %list;
  flex-direction: column;
  margin-top: 32px;
  gap: 20px;
}

.news-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.news-date {
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 8px;
}

.news-descr {
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
  max-width: 205px;
  color: $footerColor;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-list {
  @extend %list;
  gap: 12px;
}

.copyright-text {
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: $footerColor;
  margin-bottom: 0;
}

.icons-item {
    &:hover {
        & > a > svg {
            fill: $underlineIcon;
        }
    }
    & > a > svg {
        fill: $buttonColor;
        transition: fill 250ms ease-in-out;
    }
}