.pricing {
  @include SectionPadding(244px);
  position: relative;
  &-circle {
    width: 328px;
    height: 328px;
    border-radius: 50%;
    background-color: $figureStyling;
    position: absolute;
    top: 116px;
    left: 125px;
  }
  &-shape {
    fill: $figureStyling;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &-flex {
    display: flex;
    flex-direction: row;
    align-items: center
  }
}

.pricing-list-cards {
  @extend %list;
}

.pricing-list-card {
  border: 1.53846px solid #ececec;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  @include SectionPadding(20px);
  background-color: $mainBcg;
  &-title {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    color: $headerHoverFontColor;
    margin-bottom: 23px;
  }
  &-descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: $fontForpackages;
    margin-bottom: 24px;
  }
  &-price {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    color: $headerHoverFontColor;
    margin-bottom: 45px;
    & > sup {
      font-weight: 500;
      font-size: 20px;
    }
  }
  &:last-child {
    transform: scale(0.9);
    margin-left: -260px;
    position: relative;
    z-index: 1;
  }
  &:first-child {
    position: relative;
    z-index: 2;
    box-shadow: 0px 56px 80px -16px rgba(219, 222, 229, 0.8);
    @include SectionPadding(61px);
  }
}

.pricing-list-card-pricelist {
  @extend %list;
  flex-direction: column;
}

.pricelist {
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  &-descr {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    color: $headerHoverFontColor;
    margin-bottom: 0;
    margin-left: 19px;
  }
}

.pricing-list-card-button {
  @extend %button;
  margin-top: 60px;
}

.pricing-text {
  margin-left: 72px;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
}

.pricing-label {
  font-weight: 500;
  font-size: 20px;
  color: $hightlightFontColor;
  margin-bottom: 5px;
  &-icon {
    height: 4px;
    width: 68px;
    fill: $underlineIcon;
  }
}

.pricing {
  &-title {
    margin-top: 11px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    color: $hightlightFontColor;
    margin-bottom: 20px;
  }
  &-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $additionFontColor;
    max-width: 410px;
    &--sec {
      margin-bottom: 68px;
    }
  }
}

.pricing-buttons {
  display: flex;
  margin-bottom: 60px;
}

.pricing-button {
  border-color: transparent;
  border-radius: 8px;
  padding: 34px 62px;
  font-weight: 500;
  font-size: 24px;
  color: $mainBcg;
  &:hover, &:focus {
    opacity: 0.8;
  }
  &__blue {
    background-color: $buttonColor;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__orange {
    background-color: $secondIcon;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.icon-carousel {
  fill: transparent;
}
