// fonts

$mainFontColor: #767877;
$additionFontColor: #647685;
$hightlightFontColor: #050931;
$headerFontColor: rgba(34, 35, 28, 0.8);
$headerHoverFontColor: #222326;
$black: #000000;
$serviceItemFontColor: #1B1E1C;
$fontForpackages: #A7A7A8;
// members 
$firstIcon: #48B774;
$secondIcon: #FF8345;
$thirdIcon: #FFCA45;
$lastIcon: #EDEDED;
$userIcon: #FCDC00;
$underlineIcon: #FE6B01;
$greenIcon: #37D348;
// figures
$mainBcg: #ffffff;
$secondBcg:  #F4F9FD;
$buttonColor: #1F6BFF;
$heroBcg: #DBEBF8;
$figureStyling: #BADAF4;
$borderColor: #E3E3E3;
// work borders
$redBorder: #FF8345;
$pagination: #D5D5D5;
$formColor: #969696;
$footerColor: #7A7B7D;